@import '~antd/lib/style/themes/default.less';

@sideColor : #f0f2f5;

.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #e6f7ff
}

.clearboth {
  clear: both;
}
.fl {
  float: left;
}
  
.fr {
  float: right;
}

.hide {
  display: none;
}
  
  .main {
    .side-left {
      background: @sideColor;

      .logo {
        height: 64px;
        line-height: 64px;
        text-align: center;
        font-size: 18px;
        background-color: #ececec;
      }

      .ant-menu {
        background-color: @sideColor;
      }
    }

    .side-right {
      background-color: white;

      .header {
        background: @sideColor;
        padding: 0 10px;
        box-shadow: @shadow-1-down;
        text-align: left;
      }

      .content {
        margin: 0 16px;
      }

      .bread-crumb {
        margin: 10px 16px 5px 16px;
      }
    }
  }

  

  