.icon-txt {
    color: grey;
}
.icon {
    vertical-align: -0.25em;
    font-size: 25px;
}
.file-list-icon {
    font-size: 16px;
    margin-right: 10px;
}

.file-list-title {
    color: #424e67;
}

.bread-crumb {
    a {
        color: #40a9ff;
    }
}

.table-summary-tip {
    text-align: right;
    padding-right: 10px;
}

.file-operation-wrap {
    background-color: #f0f0f0;
    li {
        height: 30px !important;
        line-height: 30px !important;
    }

}


.upload-task-queue-wrap {
    width: 700px;
    // height: 400px;
    position: fixed;
    bottom: 0;
    right: 10px;
    border: 1px solid #e2e2e2;
    z-index: 9999;
    background: white;
    box-shadow: 0 0 10px #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .upload-task-queue-header {
        padding: 10px 15px;

    }

    .upload-task-queue-tip {
       > span {
           margin-right: 10px;
       }
    }

    .upload-task-queue-list {
        height: 316px;
        overflow-y: auto;
        transition: height 0.5s;

        ul {
            width: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                list-style: none;
                width: 100%;
                padding: 5px 15px;
                border-bottom: 1px solid rgb(240, 237, 237);
                line-height: 22px;
                color: #666;
                &>span {
                    display: inline-block;
                    margin-left: 15px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                }

                .svg-icon {
                    font-size: 25px;
                    margin-left: 0;
                    svg {
                        vertical-align: -0.15em;
                    }
                }

                .filename {
                    width: 200px;
                    margin-left: 10px;
                }

                .size {
                    width: 70px;
                }

                .target {
                    width: 120px;
                }

                .upload-success-icon {
                    font-size: 16px;
                    color: green;
                }
                .upload-success-instant {
                    color: green;
                    font-size: 14px;
                    margin-left: 3px;
                }
            }

            li.upload-status-1 {
                border-bottom-color: #1890ff;
                .filename {
                    color: #1890ff;
                    
                }
            }
            li.upload-status-2 {
                .filename {
                    color: green;
                }
            }
            li.upload-status-3 {
                color: #e82424;
            }
        }
     }

     .upload-task-queue-list.hidden {
        height: 0;
        transition: height 0.5s;
        overflow:hidden;
     }
     

    .ant-alert {
        border: none;
        background-color: #1890ff !important;
        border-radius: 0 !important;
        .ant-alert-message {
            color: #fff !important;
        }
    }
}
