.icon-txt {
    color: grey;
}
.icon {
    vertical-align: -0.25em;
    font-size: 25px;
}
.file-list-icon {
    font-size: 16px;
    margin-right: 10px;
}

.file-list-title {
    color: #424e67;
}

.bread-crumb {
    a {
        color: #40a9ff;
    }
}